html, body {
  height: 100%;
}

body {
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  color:#1e1e1e;
  background: #eee;
}

main {
	width: 80%;
	margin: 0 auto;
}



/***********************
		HEADER AVEC LOGO
*************************/	
		
header{

    background:linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
        ), url('../img/bg.png') no-repeat;
	background-size: cover;
	background-attachment: fixed;
    height: 600px;
	color:#fff; 
} 

/*** menu principal ****/
.navbar ul li a{
	font-family: "Lobster Two", sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link:after{
	content: '';
	width: 100%;
	height: 2px;
	bottom: -2px;
	background: #fff;
}

/**** animation menu *****/
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 8px 0;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #fff;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:before, .navbar-dark .navbar-nav .nav-link:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #fff;
}

.navbar-dark .navbar-nav .nav-link:before {
  left: 0;
}
.navbar-dark .navbar-nav .nav-link:after {
  right: 0;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-dark .navbar-nav .nav-link:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-dark .navbar-nav .nav-link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


/*** text d'accueil ****/
.sep {
	border: 0.5px solid #fff;
	width: 70px; 	
}

.button{
	background:#D46A6A; 
	border: 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;

} 

.button:hover{
	background:none; 
	border: 2px solid #fff;
}

.btn-outline-light:hover {
    color: #fff;
}
/*** animation texte d'accueil ****/
.anim{
	animation: pulse 3s ease-in-out;
} 

@keyframes pulse {
	0% {
	  opacity:0;
	}
	100% {
		opacity:1;
	}		
}



/*******************************
		BODY
*******************************/		


hr{
	background: #D46A6A;
	border: 3px solid #D46A6A;
	width: 70px; 
} 

h2{
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
	color: #082330;
}


/*******************************
		FORMULAIRE CONTACT
*******************************/	


/*******************************
		FOOTER
*******************************/	

footer {
	background: #082330;
	color: #fff;
	text-align: center;
	padding: 20px;
}
