html, body {
  height: 100%;
}

body {
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  color:#1e1e1e;
  /*background: #eee;*/
}
/*
main {
	width: 80%;
	margin: 0 auto;
}

*/

/***********************
	couleurs du site 
*************************/

.red_pink {
	color: #D46A6A;
}

/***********************
		HEADER AVEC LOGO
*************************/	
		
header{

    background:linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
        ), url('../img/bg.png') no-repeat;
	background-size: cover;
	background-attachment: fixed;
    height: 600px;
	color:#fff; 
} 

/*** menu principal ****/
.navbar ul li a{
	font-family: "Lobster Two", sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link:after{
	content: '';
	width: 100%;
	height: 2px;
	bottom: -2px;
	background: #fff;
}

/**** animation menu *****/
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 8px 0;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #fff;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:before, .navbar-dark .navbar-nav .nav-link:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #fff;
}

.navbar-dark .navbar-nav .nav-link:before {
  left: 0;
}
.navbar-dark .navbar-nav .nav-link:after {
  right: 0;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-dark .navbar-nav .nav-link:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-dark .navbar-nav .nav-link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


/*** text d'accueil ****/
.sep {
	border: 0.5px solid #fff;
	width: 70px; 	
}

.button{
	background:#D46A6A; 
	border: 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;

} 

.button:hover{
	background:none; 
	border: 2px solid #fff;
}

.btn-outline-light:hover {
    color: #fff;
}
/*** animation texte d'accueil ****/
.anim{
	animation: pulse 3s ease-in-out;
} 

@keyframes pulse {
	0% {
	  opacity:0;
	}
	100% {
		opacity:1;
	}		
}

hr{
	background: #D46A6A;
	border: 3px solid #D46A6A;
	width: 70px; 
} 

h2{
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
	color: #082330;
}
/*******************************
		REALISATION
********************************/

/*** survol img avec description ****/
.caption {
  overflow: hidden;
  opacity: .99;
  position: relative;
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.05);
  display: inline-block;
  -webkit-box-shadow: 8px 8px 5px 0px rgba(230,225,230,1);
-moz-box-shadow: 8px 8px 5px 0px rgba(230,225,230,1);
box-shadow: 8px 8px 5px 0px rgba(230,225,230,1);
}

.caption:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(8, 35, 48, 0.85) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(8, 35, 48, 0.85) 100%);
  width: 100%;
  height: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.caption img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.caption .details {
  font-size: 1em;
  line-height: 1.1em;
  padding: 1em;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.caption .details span {
  display: block;
  opacity: 1;
  position: relative;
  top: 50%;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.caption .details .title {
  line-height: 1em;
  font-weight: bold;
  font-size: 1em;
}

.caption .details .info {
  line-height: 1.2em;
  margin-top: 0.25em;
  font-size: 0.8em;
}
 .caption .details span {
    opacity: 1;
    top: 100px
  }
  .caption:before {
    opacity: 1;
    top: 100%
  }
  .caption:focus:before,
  .caption:focus span,
  .caption:hover:before,
  .caption:hover span {
    opacity: 1;
  }
  .caption:focus:before,
  .caption:hover:before {
    top: 50%;
  }
  .caption:focus span,
  .caption:hover span {
    top: 0;
  }
  .caption:focus .title,
  .caption:hover .title {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  .caption:focus .info,
  .caption:hover .info {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }

  
 /*******************************
		SLIDE TEMOIGNAGE
*********************************/
.bg-slide {
	background: #082330;
}
.carousel-inner {
	height: 450px;
}

.title_testimony {
  font-size: 40px;
}
.img_testimony {
  width: 150px;
  height: 150px;
}
/*******************************
		FORMULAIRE CONTACT
*******************************/	
.bg-contact {
	background:linear-gradient(
        rgba(212, 106, 106, 0.9), 
        rgba(212, 106, 106, 0.9)
        ), url('../img/fond-contact.png') no-repeat;
	background-size: cover;
}
.icon_contact{
  font-size: 45px;
}

/*******************************
		FOOTER
*******************************/	

footer {
	background: #082330;
	color: #fff;
	text-align: center;
	padding: 20px;
}
